# 顶层配置文件
root = true

# 对所有文件生效
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# 对 C/C++ 文件更严格
[*.c,*.h,*.cpp,*.hpp]
indent_style = space
indent_size = 4
